<ion-view title="Tendência Eleitoral">
  <ion-content class="padding">
    <center>Governador</center>
    <div class="row">
    	<div class="col-md-2">
    		<a href='templates/friend-detail.html'>
	    		<img src='http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/PB/foto/150000000331.jpg?x=1410299917000150000000331'>
	  		</a>
	  		<h4>Antonio Radical - 16</h4>
	  	</div>
  		<div class="col-md-2">
    		<img src='http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/PB/foto/150000000407.jpg?x=1410299917000150000000407'>
  			<h5>Cassio Cunha Lima - 45</h5>
  		</div>
  		<div class="col-md-2">
    		<img src='http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/PB/foto/150000000404.jpg?x=1410299917000150000000404'>
  			<h4>Majór Fábio - 90</h4>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-2">
    		<img src='http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/PB/foto/150000000052.jpg?x=1410299917000150000000052'>
    		<h4>Ricardo Coutinho - 40</h4>
  		</div>
  		<div class="col-md-2">
    		<img src='http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/PB/foto/150000000010.jpg?x=1410299917000150000000010'>
  			<h4>Tárcio - 50</h4>
  		</div>
  		<div class="col-md-2">
    		<img src='http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/PB/foto/150000000156.jpg?x=1410299917000150000000156'>
  			<h4>Vital - 15</h4>
  		</div>
  	</div>
  </ion-content>
</ion-view>
